* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px ;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(37, 38, 39);
    color: white;
}
section {
    min-height: 100vh;
    width: 100%;
    padding: 100% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: absolute;
    top: 50px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(21, 146, 168);   
    border-radius: 8px;
    padding: 3rem;
    display: flex;
    flex-direction: column;

}
.container p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    text-align: justify;
}
button {
    margin-top: 4rem;
    width: fit-content;
    padding: 2rem;
    font-size: 2rem;
    background-color: rgb(25, 28, 29);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
    }

    /* social */


    * {
        box-sizing: border-box;
      }
      body {
        overflow-x: hidden;
      }
      .float-text {
        display: inline-block;
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: fit-content;
        background-color: #192227;
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
        cursor: pointer;
        border: 1px solid white;
      }
      .float-card-info {
        width: 300px;
        position: absolute;
        background-color: #263238;
        border: 2px solid white;
        overflow: hidden;
        bottom: 5px;
        right: -100%;
        padding: 30px;
        border-radius: 8px;
        transition: 0.5s ease-in-out right;
      }
      .float-card-info p {
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
        width: 100%;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
      }
      .gg-youtube {
        --ggs: 1.5;
      }
      .float-card-info .icons {
        width: 120px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 20px;
      }
      .float-card-info .icons a {
        display: inline-block;
        cursor: pointer;
        color: whitesmoke;
      }
      .float-card-info .icons a:hover {
        color: rgb(127, 127, 129);
      }
      .float-card-info .link {
        width: 100%;
        display: block;
        text-decoration: none;
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-align: center;
        margin-top: 5px;
      }
      .gg-close-r {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
      .float-card-info.active {
        right: 5px;
        bottom: 5px;
      }
      
      .float-card-info .hire {
        background-color: #181e22;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 18px;
        border-radius: 6px;
        width: fit-content;
        margin: 0 auto;
        padding: 10px 20px;
        margin-top: 20px;
      }
      